.App {
  width: 500px;
  height: 300px;
  margin: 30px auto;
}

.App .main {
  text-align: center;
  border: 2px solid rgb(219, 217, 217);
  width: 500px;
  height: 300px;
  padding: 20px;
}

.App p {
  text-align: left;
  margin-top: 5px;
  font-size: 12px;
}
